################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProductsApp/bin
/ProductsApp/obj/Debug
/packages/Microsoft.Net.Compilers.1.3.2
/packages/Microsoft.AspNet.WebApi.Client.5.2.3
/packages
/.vs
